<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <handlers>
         <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform processPath="/usr/bin/java" arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=8080 -jar /home/site/wwwroot/app.jar"></httpPlatform>
   </system.webServer>
</configuration>
